@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$prevDelay: 1ms;
$itemDelay: 40ms;
$itemCount: 19;

$totalDelay: 7600ms;
/*
s = delay * n + (delay * n-1)
~10 seconds
*/

.svg-loader-container {
  rect {
    @for $i from 1 through $itemCount {
      opacity: 0;
      animation: fade-in 200ms forwards;
      &:nth-child(#{$i}) {
        $stagger: $itemDelay * $i;
        $delay: $prevDelay + $stagger;
        $prevDelay: $delay !global;
        animation-delay: $delay;
      }
    }
  }
}

.loading-message {
  opacity: 0;
  animation: fade-in 200ms forwards;
  animation-delay: 0.2s;
}

.ahhh-message {
  opacity: 0;
  animation: fade-in 200ms forwards;
  animation-delay: $totalDelay;
}
