@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'FiraCode';
    src: url('/fonts/FiraCode.ttf') format('truetype');
  }

  body {
    @apply bg-dark text-gray-light;
  }

  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  .layout {
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}
